In [3]:
cr = pd.read_csv('C:/Users/shubh/Pranjal Sir class/fwd/CreditRisk.csv')
cr.Credit_History = cr.Credit_History.fillna(1)
cr.Gender = cr.Gender.fillna("Male")
cr.Married = cr.Married.fillna("No")
cr.Dependents = cr.Dependents.fillna(0)
cr.Self_Employed = cr.Self_Employed.fillna("Yes")
cr.LoanAmount = cr.LoanAmount.fillna( cr.LoanAmount.mean() )

cr.Loan_Amount_Term = cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.mean())
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cr.Loan_Status = le.fit_transform(cr.Loan_Status)

cr.Gender = le.fit_transform(cr.Gender)
cr.Married = le.fit_transform(cr.Married)
cr.Education = le.fit_transform(cr.Education)
cr.Self_Employed = le.fit_transform(cr.Self_Employed)
cr.Property_Area = le.fit_transform(cr.Property_Area)

cr1 = cr
from sklearn.model_selection import train_test_split
cr = cr.iloc[: , 1::]
cr_train , cr_test = train_test_split(cr, test_size = .2)

In [4]:
# os has to done only on train data

In [5]:
cr_train.shape

(784, 12)

In [6]:
cr_train.Loan_Status.value_counts()

1    564
0    220
Name: Loan_Status, dtype: int64

In [7]:
ab = cr_train[cr_train.Loan_Status == 0] #dummy data Frame

In [8]:
ab.head(20)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
325,1,1,1.0,0,1,8666,4983.0,376.0,360.0,0.0,0,0
66,1,0,0.0,1,0,3200,2254.0,126.0,180.0,0.0,2,0
328,0,1,0.0,0,0,4333,2451.0,110.0,360.0,1.0,2,0
76,1,0,0.0,0,0,3750,4750.0,176.0,360.0,1.0,2,0
649,1,0,0.0,0,0,3150,0.0,176.0,360.0,0.0,1,0
754,1,0,0.0,0,0,4727,0.0,150.0,360.0,0.0,0,0
720,1,0,0.0,0,0,1596,1760.0,119.0,360.0,0.0,2,0
412,1,1,0.0,1,0,6096,0.0,218.0,360.0,0.0,0,0
180,1,1,1.0,0,0,6400,7250.0,180.0,360.0,0.0,2,0
733,1,1,2.0,0,0,724,3510.0,213.0,360.0,0.0,0,0
161,1,1,0.0,0,0,7933,0.0,275.0,360.0,1.0,2,0
417,1,1,2.0,0,1,1600,20000.0,239.0,360.0,1.0,2,0
466,1,1,4.0,1,0,2947,1664.0,70.0,180.0,0.0,2,0
708,1,1,1.0,0,0,4609,2333.0,123.0,360.0,0.0,1,0
925,0,0,4.0,0,0,2366,5272.0,153.0,360.0,0.0,0,0
7,1,1,4.0,0,0,3036,2504.0,158.0,360.0,0.0,1,0
581,1,0,0.0,0,0,1836,33837.0,90.0,360.0,1.0,2,0
34,1,0,4.0,0,0,12500,3000.0,320.0,360.0,1.0,0,0
360,0,0,1.0,0,0,4723,0.0,81.0,360.0,1.0,1,0
489,1,0,0.0,0,0,2435,0.0,75.0,360.0,1.0,2,0

In [9]:
ab.Loan_Status.value_counts()

0    220
Name: Loan_Status, dtype: int64

In [10]:
cr_train1 = pd.concat([cr_train, ab, ab])

In [11]:
cr_train1.shape

(1224, 12)

In [12]:
cr_train1.Loan_Status.value_counts()

0    660
1    564
Name: Loan_Status, dtype: int64

In [13]:
cr_train_x = cr_train1.iloc[:,0:-1]
cr_train_y = cr_train1.iloc[:,-1]

In [14]:
cr_test_x = cr_test.iloc[:,0:-1]
cr_test_y = cr_test.iloc[:,-1]

In [15]:
from sklearn.linear_model import LogisticRegression
glm = LogisticRegression()

In [16]:
glm.fit(cr_train_x, cr_train_y)

C:\Users\shubh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
pred_test_new = glm.predict(cr_test_x)

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix(pred_test_new, cr_test_y) #predicted and then actual values

array([[ 30,  25],
       [ 19, 123]], dtype=int64)

In [19]:
Fpr = 23/(23+31)
Fpr

0.42592592592592593

In [20]:
Tpr = 124/(124+19)
Tpr

0.8671328671328671

In [21]:
pre = 139/(139+18)
pre

0.8853503184713376

In [22]:
previous_pre = 147/(147+29)
previous_pre

0.8352272727272727